
body{
  color: #878787;
  margin: 0;
}
/*=================================Start header================================*/
header{/*L'en-tête*/
  background-color: honeydew;
}
/*=================================End header==================================*/
/*=================================Main starts================================*/
main{
border:2px solid green;

}
h1{
  font-size: 70px;
  color: white;
}/*Valeurs réservées aux titre de niveau 1*/
h2{
  font-size: 40px;
  color: Orange;
}
h3{
  font-size: 30px;
  color: #ffd700;
}
/*==============================End titles=============================================*/
/*==============================start paragraph================================*/
p{
  font-size: 20px;
}
/*===============================End paragraph==================================*/
/*==================================Main end================================================*/
/*==================================footer starts===========================================*/
#main-footer{
  padding-top: 50px;
  padding-bottom: 50px;
  border-bottom: solid 25px honeydew;
}
/*==================================footer end=============================================*/
